@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Orbitron&display=swap');
.hero-section {
  width: 100%;
  height: 75vh; /* adjust as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Colors of both transparent box and the tex */
.hero-overlay {
  background: rgba(0, 0, 0, 0.5); /* transparent black box */
  color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  max-width: 700px;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.hero-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.below-hero{
    font-size: 1.2rem;
    color: black;
    font-family: 'Poppins', sans-serif;
}