.hero-section {
  width: 100%;
  height: 90vh; /* adjust as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Colors of both transparent box and the tex */
.hero-overlay {
  background: rgba(0, 0, 0, 0.5); /* transparent black box */
  color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  max-width: 700px;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
}
